#root {
 /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;*/
  text-align: center;
  width:100% !important;
  height: 100vh;
  display: block;
}
.Card {
  background-color: #151920 !important;
}
.Avatar-inline{
  display: inline-block !important;
}
p {
  color:teal;
}
.GroupName{
  color:white;
  font-weight: 600;
  font-size: 20px;
}
.Player{
  margin-top: 0px;
  margin-bottom: 0px;
  color:white;
  font-family: digital-7;
}
.CardHeader{
  color:wheat;
}

.Timer-Font{
  font-family: digital-7;
  font-size: 20px;
}
.Time-To-Day{
  border-right: 1px solid #202428 !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Button-Timmer{
  font-weight: 500 !important;
  font-size: 20px !important;
}
.Button-Match{
  text-align: right;
}
.Menu-Template{
  height: 90vh;
  background-color: #101418;
  border-right: 1px solid #202428;
}
.Menu-List{
  color: white;
  background-color: #101418;
  text-align: left;
}
.Item-List{
  word-spacing: 100px !important;
}
.Item-List:hover{
  background-color: #161b21;
}
.Grid-header{
  margin-bottom: 10px;
  border-bottom: 1px solid #202428;
}
.Grid-Footer{
  padding-top:10px;
  padding-bottom: 10px;
  border-top: 1px solid #202428;
}
.Grid-Content{
  display: inline-block !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.icon{
  color:white !important;
}
th,tbody{
  height:100%;
  background-color: #1e1e1e;
  color:white !important;
}
td{
  color:white !important;
}
.Grid_list{
  height: 90vh;
  width: 100%;
  background-color: #1e1e1e !important; 
  overflow: auto;
  justify-content: center;
}
.Grid_small{
  height: 44.2vh;
  background-color: #1e1e1e;
  overflow: auto;
  width: 100%;
  margin-bottom: 1vh;
  color:white;
}
.Table_player_main{
  width : 100%;
  margin-left: 2px;
  margin-right: 2px;
}
.QueueAvatar_Player{
  display: flex;
}
.Listqueue_Player{
  justify-content: center !important;
  text-align: center !important;
  align-items: center;
  background-color: aqua;
  margin-bottom: 10px !important;
  border : 1px solid black;
  border-radius: 10px;
}
ul {
  margin-bottom: 5px !important;
}
.Float_Addmatch { 
  display: flex;
  align-items: center;;
}
.Listquene_match{
  border : 1px solid black;
  border-radius: 10px;
  background-color: aqua !important;
  margin-bottom: 2%;
}
.Detail_Listqueue_Time{
  align-items: center !important;
  display:flex !important;
  justify-content:center ;
}
.Detail_Listqueue_Player{
  justify-items: center !important;
  display: inline-grid !important;
}
.Modaladdmatch{
  position: absolute;
    top : 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    border: 2px solid #000;
    box-shadow: 24;
    p: 4;
    background-color: rgb(41, 40, 40);
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 30%;
    color : white;
}
.TableHead{
  position: sticky !important;
  z-index: 1 !important;
  top:0 !important;
}
.Timematch{
  font-size: 10px;
}
/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

