.Modal_Add_Shuttercock { 
    position: absolute;
    top : 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 400;
    border: 2px solid #000;
    box-shadow: 24;
    p: 4;
    background-color: rgb(41, 40, 40);
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 30%;
    color:white;
}
.Modal_Add_Label_center { 
    display: flex;
    justify-content: center;
    align-items: center;
}